.MyProfile {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.user-email, .user-name{
text-align: left;
}